mat-toolbar{
	padding: 0;
	height: 10%;
}
mat-sidenav{
	background-color: #b9beeb;
}
mat-sidenav-container{
	height: 90%;
}
	
.sidenavtoggle{
	bottom: 10px;
	margin-left: 10px;
	position: fixed;	
	background-color: #b9beeb;
	padding: 10px;
	border-radius: 10px;
}

.sidenav{
	
	display: flex;
	flex-flow: column;
}

.pagesnav{
	margin: 30px;
}