<mat-toolbar color="primary">
	<button mat-icon-button (click)="sidenav.toggle()">
		<mat-icon>menu</mat-icon>
	</button>
	<span>Home</span>
</mat-toolbar>


<mat-sidenav-container>
	<mat-sidenav #sidenav mode="side" [(opened)]="opened" autosize>
		<div class="sidenav">
			<button mat-button class="pagesnav" routerLink="home">
				<h2> HOME </h2>
			</button>
			<button mat-button class="pagesnav" routerLink="sites">
				<h2> SITES </h2>
			</button>
			<button mat-button class="pagesnav" routerLink="external">
				<h2> External </h2>
			</button>

		</div>
	</mat-sidenav>
	<mat-sidenav-content class="content">

		<router-outlet></router-outlet>
		<button mat-button (click)="sidenav.toggle()" class="sidenavtoggle">
			<div  *ngIf="sidenav.opened; then thenBlock else elseBlock"></div>
			<ng-template #thenBlock> <mat-icon class="sidenavtogglebutton">arrow_back_ios</mat-icon> </ng-template>
			<ng-template #elseBlock> <mat-icon class="sidenavtogglebutton">arrow_forward_ios</mat-icon> </ng-template>
		</button>



	</mat-sidenav-content>
</mat-sidenav-container>